.search-form {
  text-align: center;
  padding: 30px;
  display: flex;
  align-items: center;
  // margin: 0 auto;
}
.search-input {
  display: inline-block;
  height: 50px;
  font-size: 25px;
  width: 400px;
  background-color: #a8a8a8;
  color: #484848;
  border: none;
  border-radius: 5px;
  padding: 10px;
}
.search-input:focus {
  outline: none;
  border: #484848 2px solid;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: -10px;
}

.gallery-item {
  margin: 10px;
  width: calc(100% / 3 - 60px);
}

.photo-card {
  box-shadow: 0px 5px 5px 0px rgba(68, 66, 66, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.photo-card img {
  width: 100%;
  height: 300px;
  cursor: pointer;
  object-fit: cover;
}

.stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.stats-item {
  margin-left: auto;
  margin-right: auto;
}

.stats-item i {
  display: block;
  text-align: center;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
